<template name="postEdit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Editing post {{ _id }}</h4>
    </div>
    <div class="panel-body">

      {{#autoForm id="editPostForm" collection="Posts" type="update" validation="submit" doc=editingDoc }}
        {{> afQuickField name='slug' }}
        {{> afQuickField name='title' }}
        {{> afQuickField name='html_content' class="form-control contentHTML" rows="5" }}

        <button type="submit" class="btn btn-primary">Update</button>
      {{/autoForm}}

    </div>
  </div>
</template>
