<template name="postNew">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Adding a new post</h4>
    </div>

    <div class="panel-body">

      {{#autoForm collection="Posts" id="insertPostForm" type="insert" validation="submit" }}
        {{> afQuickField name='slug' }}
        {{> afQuickField name='title' }}

        <div class="form-group">
          <label class="control-label">Content</label>
          <textarea rows="5" name="content" class="form-control" id="postContent" required data-schema-key="content">{{content}}</textarea>
          {{ wysiwygEditor }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      {{/autoForm}}

    </div>
  </div>
</template>