<template name="postNew">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Adding a new post</h4>
    </div>

    <div class="panel-body">

      {{#autoForm id="insertPostForm" collection="Posts" type="insert" validation="submit" }}
        {{> afQuickField name='slug' }}
        {{> afQuickField name='title' }}
        {{> afQuickField name='html_content' class="form-control contentHTML" rows="5" }}

        <button type="submit" class="btn btn-primary">Submit</button>
      {{/autoForm}}


    </div>
  </div>
</template>
