<template name="dashboardLayout">
  {{> header }}


  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p><strong><i class="glyphicon glyphicon-briefcase"></i> Toolbox</strong></p>
        <hr>
      
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ pathFor 'dashboard' }}"><i class="glyphicon glyphicon-flash"></i> Dashboard</a></li>
          <li><a href="{{ pathFor 'postNew' }}"><i class="glyphicon glyphicon-plus-sign"></i> New Post</a></li>
          {{#if isAdmin}}
            <li><a href="{{ pathFor 'users' }}"><i class="glyphicon glyphicon-user"></i> Users</a></li>
          {{/if}}
        </ul>
      </div>
      <div class="col-md-9">
        {{> flashMessages }}
        {{> yield }}
      </div>
    </div>
  </div>
</template>