<template name="dashboardLayout">
  {{> header }}


  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#"><strong><i class="glyphicon glyphicon-briefcase"></i> Toolbox</strong></a>
        <hr>
      
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ pathFor 'dashboard' }}"><i class="glyphicon glyphicon-flash"></i> Dashboard</a></li>
        </ul>
      </div>
      <div class="col-md-9">
        {{> yield }}
      </div>
    </div>
  </div>
</template>