<template name="header">
  <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-toggle"></span>
        </button>
        <a class="navbar-brand" href="#">{{ headerTitle }}</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div>
    </div><!-- /container -->
  </div>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
  <button class="btn btn-success btn-block" id="dashboard">Dashboard</button>
  <button class="btn btn-default btn-block" id="my-account">My Account</button>
</template>