<template name="social">
  <div id="social">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-3">
          <a href="https://www.facebook.com/dennismonsewicz" target="_blank"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="col-lg-3">
          <a href="https://twitter.com/dennismonsewicz" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="col-lg-3">
          <a href="https://www.linkedin.com/in/dennismonsewicz" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="col-lg-3">
          <a href="http://instagram.com/dennismonsewicz" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/social -->
</template>
